### Warmup with Python Loops

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [7]:
nephews = ['Louie','Dewey','Yash']

In [8]:
nephews

['Louie', 'Dewey', 'Yash']

In [9]:
len(nephews)

3

In [10]:
nephews[0]

'Louie'

In [11]:
nephews[-1]

'Yash'

In [12]:
for i in range(3):
    nephews[i] += ' Duck'

In [13]:
nephews

['Louie Duck', 'Dewey Duck', 'Yash Duck']

In [14]:
mix_it_up = [1, [2,3], 'alpha']

In [15]:
mix_it_up

[1, [2, 3], 'alpha']

In [16]:
nephews.append('April Duck')

In [17]:
nephews

['Louie Duck', 'Dewey Duck', 'Yash Duck', 'April Duck']

In [18]:
nephews.extend(['May Duck', 'June Duck'])

In [19]:
nephews

['Louie Duck',
 'Dewey Duck',
 'Yash Duck',
 'April Duck',
 'May Duck',
 'June Duck']

In [20]:
ducks = nephews + ['Donald Duck', 'Daisy Duck']

In [21]:
ducks

['Louie Duck',
 'Dewey Duck',
 'Yash Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [22]:
ducks.insert(0,'Scrooge McDuck')

In [23]:
ducks

['Scrooge McDuck',
 'Louie Duck',
 'Dewey Duck',
 'Yash Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [24]:
del ducks[0]

In [25]:
ducks

['Louie Duck',
 'Dewey Duck',
 'Yash Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [26]:
ducks.remove('Donald Duck')

In [27]:
ducks

['Louie Duck',
 'Dewey Duck',
 'Yash Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In [28]:
ducks.sort()

In [29]:
ducks

['April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'June Duck',
 'Louie Duck',
 'May Duck',
 'Yash Duck']

In [31]:
reverse_docks = sorted(ducks, reverse=True)

In [32]:
reverse_docks

['Yash Duck',
 'May Duck',
 'Louie Duck',
 'June Duck',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck']

In [33]:
squares = [1,4,9,16,25,36,49]

In [34]:
squares[0:2]

[1, 4]

In [35]:
squares[:4]

[1, 4, 9, 16]

In [36]:
squares[0:7:2]

[1, 9, 25, 49]

In [37]:
squares[-3:-1]

[25, 36]

In [38]:
squares[2:4] = ['four','nine']

In [39]:
squares

[1, 4, 'four', 'nine', 25, 36, 49]

In [40]:
del squares[4:6]

In [41]:
squares

[1, 4, 'four', 'nine', 49]

In [42]:
len([])

0

In [43]:
integers = ('one','two','three','four')

In [44]:
integers

('one', 'two', 'three', 'four')

In [45]:
integers[-1], integers[1:3]

('four', ('two', 'three'))

In [46]:
for i, duck in enumerate(ducks):
    print(i, duck)

0 April Duck
1 Daisy Duck
2 Dewey Duck
3 June Duck
4 Louie Duck
5 May Duck
6 Yash Duck

In [47]:
(a,b) = (1,2)

In [48]:
c,d = 3,4

In [49]:
def three_args(a,b,c):
    print(a,b,c)

In [50]:
my_args = (1,2,3)

In [51]:
three_args(*my_args)

1 2 3