In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master('local[*]').appName('first_spark_application').getOrCreate()

In [4]:
flights = spark.read.csv('Data/flights.csv', header=True)

In [5]:
flights.show(5)

+---+---+---+-------+------+---+----+------+--------+-----+
|mon|dom|dow|carrier|flight|org|mile|depart|duration|delay|
+---+---+---+-------+------+---+----+------+--------+-----+
| 11| 20|  6|     US|    19|JFK|2153|  9.48|     351|   NA|
|  0| 22|  2|     UA|  1107|ORD| 316| 16.33|      82|   30|
|  2| 20|  4|     UA|   226|SFO| 337|  6.17|      82|   -8|
|  9| 13|  1|     AA|   419|ORD|1236| 10.33|     195|   -5|
|  4|  2|  5|     AA|   325|ORD| 258|  8.92|      65|   NA|
+---+---+---+-------+------+---+----+------+--------+-----+
only showing top 5 rows

In [6]:
flights.printSchema()

root
 |-- mon: string (nullable = true)
 |-- dom: string (nullable = true)
 |-- dow: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- org: string (nullable = true)
 |-- mile: string (nullable = true)
 |-- depart: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- delay: string (nullable = true)

In [7]:
flights.dtypes

[('mon', 'string'),
 ('dom', 'string'),
 ('dow', 'string'),
 ('carrier', 'string'),
 ('flight', 'string'),
 ('org', 'string'),
 ('mile', 'string'),
 ('depart', 'string'),
 ('duration', 'string'),
 ('delay', 'string')]

In [8]:
flights = spark.read.csv('Data/flights.csv', header=True, inferSchema=True, nullValue='NA')

In [9]:
flights.dtypes

[('mon', 'int'),
 ('dom', 'int'),
 ('dow', 'int'),
 ('carrier', 'string'),
 ('flight', 'int'),
 ('org', 'string'),
 ('mile', 'int'),
 ('depart', 'double'),
 ('duration', 'int'),
 ('delay', 'int')]

### Specify Column Types
schema = StructType([
    StructField("maker", StringType()),
    StructField("cyl", IntegerType()),
    StructField("size", DoubleType()),
])

cars = spark.read.csv('Data/cars.csv', header=True, schema=schema)