In [1]:
import pandas as pd
df = pd.read_csv('datasets/admission_data.csv')

In [2]:
df.head(10)

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True
5       50693  female  Chemistry     False
6       25946    male    Physics      True
7       27648  female  Chemistry      True
8       55247    male    Physics     False
9       35838    male    Physics      True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  500 non-null    int64
 1   gender      500 non-null    object
 2   major       500 non-null    object
 3   admitted    500 non-null    bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

### Proportion and admission rate for each gender

In [7]:
# Proportion of students that are female
female_students = df[df['gender']=='female'].shape[0]
total_students_count = df.shape[0]
proportion_female_students = female_students / total_students_count
proportion_female_students

0.514

In [8]:
# Proportion of students that are male
male_students_count = df[df['gender'] == 'male'].shape[0]
proportion_male_students = male_students_count / total_students_count
proportion_male_students

0.486

In [11]:
# Admission Rate for Females
admission_rate_for_females = (df[(df['gender'] == 'female') & (df['admitted'] == True)].shape[0] / df[df['gender'] == 'female'].shape[0]) * 100
admission_rate_for_females

28.793774319066145

In [12]:
# Admission rate for males
admission_rate_for_males = (df[(df['gender'] == 'male') & (df['admitted'] == True)].shape[0] / df[df['gender'] == 'male'].shape[0]) * 100
admission_rate_for_males

48.559670781893004

In [16]:
# Proportion of students that are female and have physics major
female_students = df[(df['gender']=='female') & (df['major']=='Physics')].shape[0] / df[df['gender']=='female'].shape[0]
female_students

0.12062256809338522

In [17]:
proportion_male_physics_major = df[(df['gender'] == 'male') & (df['major'] == 'Physics')].shape[0] / df[df['gender'] == 'male'].shape[0]

In [18]:
proportion_male_physics_major

0.9259259259259259

In [19]:
admission_rate_female_physics_major = df[(df['gender'] == 'female') & (df['major'] == 'Physics') & (df['admitted'] == True)].shape[0] / df[(df['gender'] == 'female') & (df['major'] == 'Physics')].shape[0]

In [20]:
admission_rate_female_physics_major

0.7419354838709677

In [21]:
# Admission rate for male physics majors
admission_rate_male_physics_major = df[(df['gender'] == 'male') & (df['major'] == 'Physics') & (df['admitted'] == True)].shape[0] / df[(df['gender'] == 'male') & (df['major'] == 'Physics')].shape[0]

In [22]:
admission_rate_male_physics_major

0.5155555555555555