In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

movies = pd.read_csv('Data/movies_clean.csv')
reviews = pd.read_csv('Data/reviews_clean.csv')
                      
del movies['Unnamed: 0']                      
del reviews['Unnamed: 0']                      

# Create User By Item Matrix
user_items = reviews[["user_id", "movie_id", "rating"]]
user_by_movie = user_items[:700000].groupby(['user_id', 'movie_id'])['rating'].max().unstack()

In [4]:
user_movie_subset = user_by_movie[[73486, 75314,  68646, 99685]].dropna(axis=0)

In [5]:
user_movie_subset

movie_id  73486  75314  68646  99685
user_id
2311        7.0    7.0   10.0    8.0
3451       10.0    8.0   10.0   10.0
10735       5.0    8.0    5.0    8.0
12581      10.0    8.0    1.0   10.0
13036       9.0   10.0   10.0    9.0
13673      10.0    4.0    9.0   10.0
14273       9.0    8.0   10.0    9.0
20752       6.0    4.0   10.0    6.0
20775      10.0    9.0   10.0    8.0
26909      10.0   10.0    9.0    9.0
27710       8.0    7.0   10.0    7.0
34961       9.0    9.0   10.0   10.0
41687       9.0    5.0    9.0    7.0
43186       9.0    8.0   10.0    8.0
46672      10.0    5.0    9.0    8.0
47160       2.0    1.0    9.0    5.0
51918      10.0    5.0    9.0    9.0
53721       8.0    9.0   10.0    5.0
54574       9.0    8.0    8.0    8.0

In [6]:
len(user_movie_subset)

19

In [12]:
user_movie_subset.mean(axis=1)

user_id
2311     8.00
3451     9.50
10735    6.50
12581    7.25
13036    9.50
13673    8.25
14273    9.00
20752    6.50
20775    9.25
26909    9.50
27710    8.00
34961    9.50
41687    7.50
43186    8.75
46672    8.00
47160    4.25
51918    8.25
53721    8.00
54574    8.25
dtype: float64